.header {
    background-color: blue;
    color: antiquewhite;
}
.title {
    margin: 0;
    padding: 20px;
    color: aliceblue;
    text-align: center;
}
.header-list {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    color: aliceblue;
}
.link {
    color: aliceblue;
    text-decoration: none;
}